@mixin media-md {
    @media screen and (min-width: 600px) {
        @content;
    }
}

@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}

@mixin fade-in($fadeIn, $from, $to) {
    @keyframes #{$fadeIn} {
        0% {
            transform: translate3d($from, 0, 0);
            opacity: 0;
        }
        100% {
            transform: translate3d($to, 0, 0);
            opacity: 1;
        }
    }
}