* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif; }

.blur {
  filter: blur(3px); }

.open {
  visibility: visible;
  transition: 0.3s ease-in-out; }

.app-wrapper {
  height: 100vh;
  width: 100%; }

.app {
  height: 100vh;
  max-width: 600px;
  margin: auto;
  background-image: url("../assets/img/backgroundApp.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }

.app__header {
  display: flex;
  justify-content: space-between; }

.app__header .time {
  font-size: 1.625rem;
  color: #F4F4F4;
  padding: 20px; }

.app__header .search-btn {
  font-size: 1.625rem;
  color: #F4F4F4;
  padding: 20px; }

.app__top-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F4F4F4; }

.app__top-body .location {
  font-size: 1.625rem; }

.app__top-body .temp-container {
  display: flex; }

.app__top-body .temperature {
  font-size: 3.75rem; }

.app__top-body .degree-span {
  font-size: 3.75rem; }

.app__bottom-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  color: #F4F4F4;
  font-size: 1rem;
  position: fixed !important;
  bottom: 0;
  padding: 30px; }

.app__bottom-body .info {
  display: flex;
  justify-content: space-between; }

.app__bottom-body .info .title {
  flex-grow: 1; }

.app__bottom-body .description__txt {
  margin-right: 10px; }

.app__bottom-body #cookie-notice {
  font-size: 12px;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  user-select: none; }

.app__bottom-body #cookie-notice p {
  margin-bottom: 0; }

.app__bottom-body #cookie-notice .accept-btn {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer; }

.app__bottom-body #cookie-notice .accept-btn:hover {
  background-color: rgba(0, 0, 0, 0.5); }

@media screen and (min-width: 600px) {
  .app-wrapper {
    display: flex;
    align-items: center; }
  .app-wrapper .app {
    width: 400px;
    height: 700px; }
  .app-wrapper .app__bottom-body {
    position: relative !important; }
  .app-wrapper .app__copyright {
    flex-grow: 1; }
  .app-wrapper .app__copyright p {
    position: relative !important; } }

.overlay {
  width: 100%;
  z-index: 9999;
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  visibility: hidden;
  transition: 0.4s ease-in-out forwards; }

.overlay__content {
  position: fixed;
  top: 200px;
  box-shadow: 2px 6px 10px 5px rgba(0, 0, 0, 0.25); }
